#contacto textarea.form-control
{
    height: 200px
}

.contacto
{
    font-size: 12px;
}

.contacto strong
{
    display: block;
}

.contacto i
{
    width: 20px;
    display: inline-block;
}

.contacto span
{
    margin-left: 30px;
}

.map {
    margin-bottom: 20px;
}