#inicio h1
{
    background-color: #f6f6f6;
    font-weight: 300;
    font-size: 14px;
    border-left: 3px solid #009adc;
    padding: 10px;
    text-transform: uppercase;
    color: #009adc;
}

#inicio h1 i
{
    margin-right: 15px;
}

#inicio div[class^='col-md-'], #iniciodiv[class*=' col-md-']
{
    padding: 0;
}

#inicio .noticia
{
    position: relative;
    padding-top: 5px !important;
    margin-bottom: 10px;
}

#inicio .noticia .thumbnail
{
    border: none;
    padding: 0;
    margin-bottom: 5px;
}

#inicio .noticia img
{
    border-right: 3px solid #009adc;
}

#inicio .noticia h2
{
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    margin: 10px;
}

#inicio .noticia p
{
    margin: 10px;
    font-size: 12px;
    text-align: justify;
}

#inicio .ver-noticia
{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 12px;
}

#inicio .ver-noticia a
{
    color: #ffF;
}

#inicio .resultado
{
    height: auto;
    max-width: 100%;
    border-left: 3px solid #009adc;
    background-color: #f6f6f6;
    height: 65px;
    padding: 5px;
    margin-bottom: 10px;
    line-height: 17px;
    margin-left: 5px;
    position: relative;
}

#inicio .publicidad
{
    height: auto;
    max-width: 100%;
    border-left: 3px solid #009adc;
    background-color: #f6f6f6;
    height: 140px;
    padding: 5px;
    margin-bottom: 10px;
    line-height: 17px;
    margin-left: 5px;
    position: relative;
    text-align: center;
}


#inicio .result
{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
}

#inicio .resultado .day, #inicio .resultado .month
{
    width: 40px;
    color: #009adc;
    font-weight: bold;
    text-align: center;
    display: block;
}

#inicio .resultado .fecha
{
    float: left;
    width: 45px;
}

#inicio .resultado .name
{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

#inicio .resultado .place
{
    font-size: 12px;
    margin-left: 45px;
}

#inicio .resultado i
{
    position: absolute;
    left: 14px;
    bottom: 5px;
}

#inicio .anuncio
{
    border: 5px solid #f6f6f6;
    padding: 5px;
    margin-bottom: 10px;
}