.datepicker{
    border: 1px solid #ccc;
}

.contenido{
    //float: left;
    width: 1100px;
    //height: 700px;
    border: 0px solid #000000;
    margin-left: 3px;
}

.contenido_movil{
    //float: left;
    //width: 1100px;
    //height: 700px;
    border: 0px solid #000000;
    margin-left: 3px;
}




#map {
      //width: 750px;
      //height: 650px;
      
      height: 80vh;
      max-width: 100%;
}


.altura_filtros {
      //width: 750px;
      //height: 650px;
      
      height: 80vh;
      
}



#map_movil {
      width: 275px;
      height: 275px;
}

body{
  background:#f3f3f3;
  //background-image: url("Correr-en-playa.jpg") ;
  //background-size: 100%;
  background-repeat:no-repeat;
  margin:0;
  padding:0;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.Division{
    float: left;
    //width: 250px;
    //height: 700px;
    //border: 0px solid #000000;
    //margin-left: 3px;
}

.Division_movil{
    float: left;
    width: 300px;
    //height: 700px;
    //border: 0px solid #000000;
    //margin-left: 3px;
}



.Division2{
    //float: left;
    //width: 1000px;
    //width: 60%;
    //height: 700px;
    border: 0px solid #000000;
    margin-left: 3px;
}

.Division2_movil{
    //float: left;
    width: 300px;
    //width: 60%;
    //height: 700px;
    border: 0px solid #000000;
    margin-left: 3px;
}

.Division2_movil_horizontal{
    //float: left;
    width: 570px;
    //width: 60%;
    //height: 700px;
    border: 0px solid #000000;
    margin-left: 3px;
}

.p{
   
}

img{white-space:pre}

.bocadillo{
   max-width: 560px; 
   max-height: 800px; 
   width: 560px; 
   height: 800px; 
   margin-right: 5px;
   //align: "left";
}

p.market_data{
   max-width: 450px; 
   margin-right: 5px;
   //align: "left";
}

p.market_data_ancho{
   max-width: 650px; 
   max-height: 750px; 
   margin-right: 5px;
   margin-left: 12px;
   //align: "left";
}


p.padding {
    padding-top: 0.5cm;
    //padding-left: 1.2cm;
}

p.padding2 {
    padding-top: 0.2cm;
    padding-left: 1.2cm;
}

p.padding_movil {
    padding-top: 1cm;
    padding-left: 100px;
    width: 300px;
}

p.padding_movil_horizontal {
    padding-top: 1cm;
    padding-left: 200px;
    width: 600px;
}


.inicio_seccion
{
    background-color: #f3f3f3;
    font-weight: bold; 
    font-size: 14px;
    border-left: 3px solid #00638e;
    padding: 10px;
    text-transform: uppercase;
    color: #00638e;
}

.inicio_seccion2
{
    background-color: #f3f3f3;
    font-weight: bold; 
    font-size: 15px;
    //border-left: 3px solid #00638e;
    padding: 2px;
    text-transform: uppercase;
    color: #00638e;
    padding-left: 1cm;
}

.inicio_seccion_xs
{
    background-color: #f3f3f3;
    font-weight: bold; 
    font-size: 21px;
    //border-left: 3px solid #00638e;
    padding: 2px;
    text-transform: uppercase;
    color: #00638e;
    //padding-left: 1cm;
}